<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="/Public/Style/style.css">

</head>

<body>
    <header class="header">
        <div class="container">
            <h1>Student Management</h1>
            <nav>
                <a href="/">Students</a>
                <a href="/student/create">Add Student</a>
            </nav>
        </div>
    </header>
    <main class="container">{{ content }}</main>
    <footer class="footer">
        <div class="container">
            <p>Student Management System. Developed by <a href="https://nayan.pro">Nayan</a>.</p>
        </div>
    </footer>
</body>

</html>