<section>
    <div class="page-header">
        <h2>Students</h2>
        <a class="button" href="/student/create">+ Add Student</a>
    </div>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {{ students }}
            </tbody>
        </table>
        
    </div>
</section>